{% extends 'base.html' %}
{% load static from staticfiles %}


{% block content %}
<div id="entrada">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="txt-c mtn"style="font-size: 48px; margin-bottom: 50px!important;">Quejas y Reclamos de consumidores </h1>
            </div>

            <div class="col-sm-4 col-xs-8 txt-c">
                <a href="#" class="" style="padding: 5px 0 0 0.5rem;font-size: 18px;"><i class="fa fa-pencil-square-o"></i> Publica tu queja</a>
            </div>

            <div class="col-sm-4 col-xs-8 txt-c">
                <a href="#" class="" style="padding: 5px 0 0 0.5rem;font-size: 18px;"><i class="fa fa-file-text-o"></i> Revisa las últimas quejas</a>
            </div>

            <div class="col-sm-4 col-xs-8 txt-c">
                <a href="#" class="" style="padding: 5px 0 0 0.5rem;font-size: 18px;"><i class="fa fa-life-ring"></i> Responde a tus consumidores</a>
            </div>
            
            <div class="col-sm-6 col-sm-offset-3">
                <form  id="global-search" action="/search">
                    <label for="filter-by"><i class="fa fa-search"></i></label>
                    <input name="q" type="search" placeholder="Buscar">
                </form>
            </div>

        </div>
    </div>
</div>


<div id="wrapgeneral">
    <div class="container">
        <div class="row">
            <div id="main" class="col-md-8">

                <div class="node teaser">
                    <div class="row">
                        <div class="col-xs-2 col-md-2">
                            <a href="#" title="vtr - sin señal."><img src="{% static 'assets/img/sin-foto-01.jpg' %}" class="sinfoto" alt="" /></a>
                        </div>
                        <div class="col-xs-10 col-md-10">
                            <div class="reclamo-teaser-links"><a href="#"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Leer m&aacute;s</a></div>
                            <h4 class="reclamo-teaser-empresa">
                                <a href="#" title="vtr">admin</a>
                                &nbsp;&nbsp;<span class="cantidad-visitas">1 lectura</span>
                            </h4>
                            <p class="reclamo-teaser-title"><a href="#" title="sin señal.">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></p>
                        </div>
                    </div>
                </div>

                <div class="clear"> </div>
                <h2>Ultimas publicaciones</h2>
                <div id="reclamos-recientes">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr class="odd">
                                <td>26</td>
                                <td><a href="#">Yo - Envío.</a></td>
                                <td>2</td>
                            </tr>
                            <tr class="even">
                                <td>25</td>
                                <td><a href="#">claro chile - falla constante</a></td>
                                <td>2</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pager">
                        <span class="pager-list">
                            <strong class="pager-current">1</strong>
                            <a href="#" class="pager-next active" title="">2</a>
                            <a href="#" class="pager-next active" title="">3</a>
                            <a href="#" class="pager-next active" title="">4</a>
                            <a href="#" class="pager-next active" title="">5</a>
                            <a href="#" class="pager-next active" title="">6</a>
                            <a href="#" class="pager-next active" title="">7</a>
                            <a href="#" class="pager-next active" title="">8</a>
                            <a href="#" class="pager-next active" title="">9</a>
                            <span class="pager-ellipsis">…</span>
                        </span>
                        <a href="#" class="pager-next active" title="">siguiente ›</a>
                        <a href="#" class="pager-last active" title="">última »</a>
                    </div>
                </div>
            </div>
            <!-- main -->

            <div id="sidebar-left"  class="col-md-4">
                <div id="ads-300-250" class="txt-c">
                    <img src="http://1.bp.blogspot.com/-di0CNCwcQkA/U3NBY00DW3I/AAAAAAAAEDU/VX6tZ94GBbM/s1600/300x250.png" width="300" height="250">
                </div>

                <div class="complaint-box">
                    <div class="content">
                        <div class="resumen-container">
                        <h3>
                            <a href="#">Top Empresas</a>
                            <span>Empresas con el mayor número de quejas del mes</span>
                        </h3>
                        <ol class="list">
                            <li class="item-box">
                                <a href="#">
                                    <span class="ordinal">1</span>
                                    <p class="content">Avas Flowers</p>
                                </a>
                            </li>

                            <li class="item-box">
                                <a href="#">
                                    <span class="ordinal">2</span>
                                    <p class="content">Walmart</p>
                                </a>
                            </li>

                            <li class="item-box">
                                <a href="#">
                                    <span class="ordinal">3</span>
                                    <p class="content">Ups</p>
                                </a>
                            </li>

                            <li class="item-box">
                                <a href="#">
                                    <span class="ordinal">4</span>
                                    <p class="content">Att</p>
                                </a>
                            </li>
                            <li class="item-box">
                                <a href="#">
                                    <span class="ordinal">5</span>
                                    <p class="content">Stemologica</p>
                                </a>
                            </li>
                        </ol>
                        </div>
                    </div>
                </div>

                <div class="block" id="block-elementos-6">
                    <div class="content">
                        <div class="resumen-container">
                            <div class="resumen nprincipal">59.467</div>
                            <div class="resumen detalle">usuarios registrados en la plataforma<br /><strong>240 esta semana.</strong></div>
                        </div>
                        <div class="resumen-container">
                            <div class="resumen nprincipal">35.462</div>
                            <div class="resumen detalle">quejas realizadas por usuarios,<br /><strong>198 esta semana.</strong></div>
                        </div>
                        <div class="resumen-container">
                            <div class="resumen nprincipal">6.093</div>
                            <div class="resumen detalle">comentarios realizados por usuarios, <br /><strong>24 esta semana.</strong></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>
            <!-- sidebar-left -->

        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
{% endblock %}