<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="True" name="HandheldFriendly">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>Home</title>

        {% load static from staticfiles %}

        <link rel="shortcut icon" href="themes/r4/favicon-01.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'assets/css/defaults.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/system.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div id="header">
            <div id="header-container">
                <div class="row">
                    <div class="col-sm-8 col-xs-6 hide-overflow">
                        <ul class="navegacion">
                            <li class="mrs">
                                <a href="{% url 'general:index' %}" class="logo">
                                    <img src="https://www.reclamos.cl/themes/r4/logo-reclamos-01.svg" alt="" title="">
                                </a>
                            </li>
                            <li class="mts mrxs hidden-xs">
                                <a href="#"><i class="fa fa-file-text-o mrxxs"></i>Quejas</a>
                            </li>
                            <li class="mts mrxs hidden-xs">
                                <a href="#"><i class="fa fa-folder-open mrxxs"></i>Categorias</a>
                            </li>
                            <li class="mts mrxs hidden-xs">
                                <a href="{% url 'user:index' %}"><i class="fa fa-book mrxxs"></i>Blog</a>
                            </li>
                            <!--<li class="mts mrxs hidden-xs hidden-sm">
                                <form  id="global-search" action="/search">
                                    <label for="filter-by"><i class="fa fa-search"></i></label>
                                    <input name="q" type="search" placeholder="Buscar">
                                </form>
                            </li>-->
                        </ul>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <ul class="navegacion" style="text-align: right;">
                            {% if user.is_authenticated %}
                            <li class="mts mrxs hidden-xs">
                                <a href="{% url 'user:logout' %}">{{user.first_name}} {{user.last_name}}</a>
                            </li>
                            {% else %}
                            <li class="mts mrxs hidden-xs">
                                <a href="{% url 'user:index' %}"><i class="fa fa-user mrxxs"></i>Iniciar sesión</a>
                            </li>
                            <li class="mts mrxs hidden-xs">
                                <a href="#"><i class="fa fa-suitcase mrxxs"></i>Para Empresas</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                </div>
            </div>
            <!-- header-container -->
        </div>
        <div id="ads-720-90" style="padding: 10px 0; background: #eee; width: 100%; overflow-x: hidden; line-height: 1;">
            <div class="row">
                <div class="col-sm-12 txt-c">
                    <img src="https://lh6.ggpht.com/41LFWBytPnxKsfZf6mivs6ba7qdOBtfk9-7MzWSMqwC3IFOvaXd8rejFiyeXKfBOK16mMEopeA=w728" alt="">
                </div>
            </div>
        </div>


        {% block content %}{% endblock %}

        <div class="blog-summary">
            <div class="container">
                <h2><i class="fa fa-book mrxxs"></i> Blog</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <article class="post">
                            <a href="https://platzi.com/blog/knowledge-graph-y-la-web-semantica/" title="Knowledge Graph y la Web Semántica">
                                <figure class="post-picture-container">
                                <img width="450" height="338" src="//www.maestrosdelweb.com/images/2015/02/2643615578_3c421b3e4c_b-450x338.jpg" class="attachment-medium wp-post-image" alt="2643615578_3c421b3e4c_b"></figure>
                                <h2 class="post-title">Knowledge Graph y la Web Semántica</h2>
                                <p class="post-date">febrero 2 2015</p>
                            </a>
                        </article>
                    </div>

                    <div class="col-sm-4">
                        <article class="post">
                            <a href="https://platzi.com/blog/knowledge-graph-y-la-web-semantica/" title="Knowledge Graph y la Web Semántica">
                                <figure class="post-picture-container">
                                <img width="450" height="338" src="//www.maestrosdelweb.com/images/2015/02/2643615578_3c421b3e4c_b-450x338.jpg" class="attachment-medium wp-post-image" alt="2643615578_3c421b3e4c_b"></figure>
                                <h2 class="post-title">Knowledge Graph y la Web Semántica</h2>
                                <p class="post-date">febrero 2 2015</p>
                            </a>
                        </article>
                    </div>

                    <div class="col-sm-4">
                        <article class="post">
                            <a href="https://platzi.com/blog/knowledge-graph-y-la-web-semantica/" title="Knowledge Graph y la Web Semántica">
                                <figure class="post-picture-container">
                                <img width="450" height="338" src="//www.maestrosdelweb.com/images/2015/02/2643615578_3c421b3e4c_b-450x338.jpg" class="attachment-medium wp-post-image" alt="2643615578_3c421b3e4c_b"></figure>
                                <h2 class="post-title">Knowledge Graph y la Web Semántica</h2>
                                <p class="post-date">febrero 2 2015</p>
                            </a>
                        </article>
                    </div>
                    
                    <div class="col-sm-4">
                        <article class="post">
                            <a href="https://platzi.com/blog/knowledge-graph-y-la-web-semantica/" title="Knowledge Graph y la Web Semántica">
                                <figure class="post-picture-container">
                                <img width="450" height="338" src="//www.maestrosdelweb.com/images/2015/02/2643615578_3c421b3e4c_b-450x338.jpg" class="attachment-medium wp-post-image" alt="2643615578_3c421b3e4c_b"></figure>
                                <h2 class="post-title">Knowledge Graph y la Web Semántica</h2>
                                <p class="post-date">febrero 2 2015</p>
                            </a>
                        </article>
                    </div>

                    <div class="col-sm-4">
                        <article class="post">
                            <a href="https://platzi.com/blog/knowledge-graph-y-la-web-semantica/" title="Knowledge Graph y la Web Semántica">
                                <figure class="post-picture-container">
                                <img width="450" height="338" src="//www.maestrosdelweb.com/images/2015/02/2643615578_3c421b3e4c_b-450x338.jpg" class="attachment-medium wp-post-image" alt="2643615578_3c421b3e4c_b"></figure>
                                <h2 class="post-title">Knowledge Graph y la Web Semántica</h2>
                                <p class="post-date">febrero 2 2015</p>
                            </a>
                        </article>
                    </div>

                    <div class="col-sm-4">
                        <article class="post">
                            <a href="https://platzi.com/blog/knowledge-graph-y-la-web-semantica/" title="Knowledge Graph y la Web Semántica">
                                <figure class="post-picture-container">
                                <img width="450" height="338" src="//www.maestrosdelweb.com/images/2015/02/2643615578_3c421b3e4c_b-450x338.jpg" class="attachment-medium wp-post-image" alt="2643615578_3c421b3e4c_b"></figure>
                                <h2 class="post-title">Knowledge Graph y la Web Semántica</h2>
                                <p class="post-date">febrero 2 2015</p>
                            </a>
                        </article>
                    </div>

                </div>
            </div>
        </div>

        <!-- wrappergeneral -->
        <div class="footer">
            <div class="container">
                <div class="footer-inner row">
                    <div class="col-sm-4">
                        <h3>Nosotros</h3>
                        <ul>
                            <li><a href="">Acerca de Dequr.com</a></li>
                            <li><a href="">Noticias</a></li>
                            <li><a href="">En los medios</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Preguntas Frecuentes</a></li>
                            <li><a href="">Políticas de Privacidad</a></li>
                            <li><a href="">Términos de Uso</a></li>
                            <li><a href="">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="">Soluciones para Empresas</a></li>
                            <li><a href="">Tips para Consumidores</a></li>
                            <li><a href="">Formatos de Quejas</a></li>
                            <li><a href="">Correos Spam</a></li>
                            <li><a href="">Denuncias Grupales</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3>Encuentra</h3>
                        <ul>
                            <li><a href="">Compañías</a></li>
                            <li><a href="">Quejas</a></li>
                            <li><a href="">Quejas Promocionadas</a></li>
                            <li><a href="">Categorías</a></li>
                            <li><a href="">Compañías con más Quejas</a></li>
                            <li><a href="">¿Algún error? Informanos aquí</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $('a[href="#"]').click(function(event) {
                    event.preventDefault();
                });
            });
        </script>

    </body>
</html>