{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&appId=731623136870740&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrapgeneral">
    <div class="container">
        <div class="row">
            <div class="post_header col-md-12">
                <div class="row">
                    <div class="top txt-c col-md-8">
                        <h1 class="mtm mb-large" style="font-size: 32px;border-bottom: 1px dotted #ccc!important;padding-bottom: 20px;">Publica tu reseña 
                        <smal class="hint">(paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }})</smal></h1>
                    </div>
                </div>

                <div class="options mb-large">
                    <ul>
                        <li><a class="active" href="#">Regular <small>Gratis</small></a></li>
                        <li><a href="#">Premium <small></small></a></li>
                    </ul>
                </div>

            </div>


            <div id="main" class="col-md-8">
                <form action="{% url 'complaint:ajax_multiupload' %}" id="MultiUploadAjax" class="hide" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <input type="file" name="image" id="image" />
                    <input type="file" name="audio" id="audio" />
                </form>


                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ wizard.management_form }}
                    <div class="form-page">
                    <ul>
                        <li>
                            <label>Título de tu queja: Describe tu problema en pocas palabras (máximo 140 caracteres). No escribas todo en mayúsculas</label>
                            {{wizard.form.title}}
                            <span class="has-error">{{wizard.form.title.errors.as_text}}</span>
                        </li>
                        <li>
                            <label>Que fue exactamente lo que sucedió, entre más detalles ofrezcas más posibilidades de conseguir una solución.</label>
                            {{wizard.form.description}}
                            <span class="has-error">{{wizard.form.description.errors.as_text}}</span>
                        </li>
                        <li>
                            <label>Empresa</label>
                            {{wizard.form.company}}
                            {{wizard.form.company_val}}
                            <span class="has-error">{{wizard.form.company.errors.as_text}}</span>
                            <p class="ui-autocomplete-empty-message"></p>
                        </li>
                        <li>
                            <label>Categoría</label>
                            {{wizard.form.category}}
                            <span class="has-error">{{wizard.form.category.errors.as_text}}</span>
                        </li>
                        <li id="subcategoria" class="hide">
                            <label>Subcategoría</label>
                            <div></div>
                        </li>
                        
                        <li>
                            <div class="post-media-description">
                                <strong>Pruebas y documentos relevantes <span class="hint">(optional)</span></strong>
                                <p class="hint">
                                    Cualquier cosa que pueda ayudar a hacer tu queja lo más seria posible: Facturas, videos de la situación, imágenes en el momento e inclusive un audio de una conversación.
                                </p>
                            </div>

                            <div class="form-section">
                                <ul class="media-icons-list">
                                    <li>
                                        <a class="cd-popup-trigger" href="#">
                                            <i class="fa fa-picture-o media-icon"></i>
                                            Agregar imagen
                                        </a>
                                    </li>
                                    <li>
                                        <a class="open_file" href="#">
                                            <i class="fa fa-music media-icon"></i>
                                            Agregar audio
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-play-circle-o media-icon"></i>
                                            Agregar video
                                        </a>
                                    </li>
                                </ul>
                                <ul class="files">
                                    <li id="loading" class="loading hide">
                                        <img src="{% static 'assets/img/loading.gif' %}" style="border: none;" />
                                    </li>
                                    {% if image_tmp %}
                                        {% for img in image_tmp %}
                                            <li><img src="{{ img.image }}" alt="" /></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        <li>
                            {{wizard.form.terms}}
                            <label for="id_0-{{form.terms.name}}">He leído y estoy de acuerdo con los <a href="#">términos y condiciones</a> de Dequr <br></label> <br>
                            <span class="has-error">{{wizard.form.terms.errors.as_text}}</span>
                        </li>
                        <li>
                            <input class="btn btn-inline btn-primary" type="submit" id="submit" name="submit" value="Siguiente [...]"/>
                        </li>
                    </ul>
                </div>
                </form>
            </div>
            <!-- -->
            <div id="sidebar-left"  class="col-md-4">

                <div class="complaint-box">
                    
                </div>


            </div>
            <!-- sidebar-left -->


        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- container
<div class="cd-popup" role="alert">
    <div class="cd-popup-container">
        <div class="container-fluid">
            <h2 class="mtm mb-large" style="font-size: 32px;">Add Images or PDFs</h2>
            <p class="hint">You can add up to 10 files in JPEG, GIF, PNG or PDF format. Each file must be less than 5 MB.</p>
            <ul class="images-list">
                <li>
                    <a href="#" class="del-image">×</a>
                    <img src="http://www.pissedconsumer.com/review-pictures/tmp/55234c8721956be44f73feaaca1e6201.jpg" width="120" height="90" alt="">
                </li>

                <li>
                    <a href="#" class="del-image">×</a>
                    <img src="http://www.pissedconsumer.com/review-pictures/tmp/55234c8721956be44f73feaaca1e6201.jpg" width="120" height="90" alt="">
                </li>

                <li>
                    <a href="#" class="del-image">×</a>
                    <img src="http://www.pissedconsumer.com/review-pictures/tmp/55234c8721956be44f73feaaca1e6201.jpg" width="120" height="90" alt="">
                </li>

                <li>
                    <a href="#" class="del-image">×</a>
                    <img src="http://www.pissedconsumer.com/review-pictures/tmp/55234c8721956be44f73feaaca1e6201.jpg" width="120" height="90" alt="">
                </li>


            </ul>

            <form id="upload" method="post" action="upload.php" enctype="multipart/form-data">
                <div id="drop">
                    Drop Here

                    <a>Browse</a>
                    <input type="file" name="upl" multiple />
                </div>

            </form>

        </div>





        <a href="#" class="cd-popup-close img-replace">Cerrar</a>
    </div> 
</div>  cd-popup -->

{% endblock %}