{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&appId=731623136870740&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrapgeneral">
    <div class="container">
        <div class="row">
            <div class="post_header col-md-12">
                <div class="row">
                    <div class="top txt-c col-md-8">
                        <h1 class="mtm mbm" style="font-size: 32px;border-bottom: 1px dotted #ccc!important;padding-bottom: 20px;">Publica tu reseña</h1>
                    </div>
                </div>

                <div class="options mbm">
                    <ul>
                        <li><a class="active" href="#">Regular <small>Gratis</small></a></li>
                        <li><a href="#">Premium <small></small></a></li>
                    </ul>
                </div>

            </div>
        
            <div id="main" class="col-md-8">
                <div class="form-page">
                    <ul>
                        <li>
                            <label>Título de tu queja: Describe tu problema en pocas palabras (máximo 130 caracteres). No escribas todo en mayúsculas</label>
                            <input type="text" placeholder="" />
                        </li>
                        <li>
                            <label>Que fue exactamente lo que sucedió, entre más detalles ofrezcas más posibilidades de conseguir una solución.</label>
                            <textarea></textarea>
                        </li>
                        <li>
                            <label>Empresa</label>
                            <input type="text" placeholder="" />
                        </li>
                        <li>
                            <label>Categoría</label>
                            <select>
                                <option checked>Seleciona una categoría</option>
                            </select>
                        </li>
                        <li>
                            <label>Subcategoría</label>
                            <select>
                                <option checked>Seleciona una Subcategoría</option>
                            </select>
                        </li>
                        <li>
                            <div class="post-media-description">
                                <strong>Pruebas y documentos relevantes <span class="hint">(optional)</span></strong>
                                <p class="hint">
                                    Cualquier cosa que pueda ayudar a hacer tu queja lo más seria posible: Facturas, videos de la situación, imágenes en el momento e inclusive un audio de una conversación.
                                </p>
                            </div>

                            <div class="form-section">
                                <ul class="media-icons-list">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-picture-o media-icon"></i>
                                            Agregar imagen
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-play-circle-o media-icon"></i>
                                            Agregar video
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" placeholder="" />
                            <label>He leído y estoy de acuerdo con los <a href="#">términos y condiciones</a> de Dequr</label>
                            <!--<p>You will not be able to edit your review. However, we allow adding on to it. Just create an account during the submission process.</p>-->
                        </li>
                        <li>
                            <a href="#" class="btn btn-go btn-complaint">
                                <span class="txt">Enviar denuncia</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- -->
            <div id="sidebar-left"  class="col-md-4">

                <div class="complaint-box">
                    
                </div>


            </div>
            <!-- sidebar-left -->


        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
{% endblock %}