{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&appId=731623136870740&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrapgeneral">
    <div class="container">
        <div class="row">
            <div class="post_header col-md-12">
                <div class="top">
                    <h1 class="mtm mbm btn btn-go btn-complaint" itemprop="name"> Publicar Queja</h1>
                </div>

                <div class="options mbm">
                    <ul>
                        <li><a class="active" href="#">Regular <small>Gratis</small></a></li>
                        <li><a href="#">Premium <small></small></a></li>
                    </ul>
                </div>

            </div>
        
            <div id="main" class="col-md-8">
                <div class="form-page">
                    <ul>
                        <li>
                            <label>Título de tu queja: Describe tu problema en pocas palabras (máximo 130 caracteres). No escribas todo en mayúsculas</label>
                            <input type="text" placeholder="" />
                        </li>
                        <li>
                            <label>Que fue exactamente lo que sucedió, entre más detalles ofrezcas más posibilidades de conseguir una solución.</label>
                            <textarea></textarea>
                        </li>
                        <li>
                            <label>Empresa</label>
                            <input type="text" placeholder="" />
                        </li>
                        <li>
                            <label>Categoría</label>
                            <input type="text" placeholder="" />
                        </li>
                        <li>
                            <label>Subcategoría</label>
                            <input type="text" placeholder="" />
                        </li>
                        <li>
                            <input type="checkbox" placeholder="" />
                            <label>He leído y estoy de acuerdo con los <a href="#">términos y condiciones</a> de Dequr</label>
                            <p>You will not be able to edit your review. However, we allow adding on to it. Just create an account during the submission process.</p>
                        </li>
                        <li>
                            <a href="#" class="btn btn-go btn-complaint">
                                <span class="txt">Enviar denuncia</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- -->
            <div id="sidebar-left"  class="col-md-4">

                <div id="ads-300-250" class="txt-c mbm">
                    <img src="http://1.bp.blogspot.com/-di0CNCwcQkA/U3NBY00DW3I/AAAAAAAAEDU/VX6tZ94GBbM/s1600/300x250.png" width="300" height="250">
                    <div style="clear: both;"></div>
                </div>

                <div class="complaint-box">
                    <div class="fb-page" data-href="https://www.facebook.com/dequrcom" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
                </div>

                <div class="complaint-box">
                    <div class="content">
                        <div class="resumen-container">
                        <h3>
                            <a href="#">Articulos recomendados</a>
                        </h3>
                        <ol class="list">
                            <li class="item-box">
                                <a href="#">
                                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                </a>
                            </li>

                            <li class="item-box">
                                <a href="#">
                                    <p class="content">Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </a>
                            </li>

                            <li class="item-box">
                                <a href="#">
                                    <p class="content">Fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
                                </a>
                            </li>

                            <li class="item-box">
                                <a href="#">
                                    <p class="content">Duis aute irure dolor in reprehenderit in volupta</p>
                                </a>
                            </li>
                            <li class="item-box">
                                <a href="#">
                                    <p class="content">Stemologica</p>
                                </a>
                            </li>
                        </ol>
                        </div>
                    </div>
                </div>

            </div>
            <!-- sidebar-left -->


        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
{% endblock %}