{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&appId=731623136870740&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrapgeneral">
    <div class="container">
        <div class="row">
            <div class="single_header txt-c col-md-12">
                <div class="top">
                    <h1 class="centered" itemprop="name">Hydroderm -  wish to have my money refunded asap.</h1>
                    <div class="reviews">
                        <strong>1 of 205</strong> <a href="#">Hydroderm Reviews</a>
                    </div>
                </div>


                <div class="sub">
                    <ul>
                        <li>7 minutes ago</li>
                        <li>by anonymous</li>
                    </ul>

                    <ul class="big-li">
                        <li><a href="#"><i class="fa fa-map-marker"></i> Ryde, New South Wales</a></li>
                        <li><a href="#"><i class="fa fa-heartbeat"></i> Health and Beauty</a></li>
                    </ul>

                </div>
            </div>
        
            <div id="main" class="col-md-8">
               
                <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review">
                    <h1 class='reclamo-front-title'>Mamut restaurant - Procedimiento engañoso</h1>
                    
                    <div class="node full ">

                        <div class="node-content">
                            <span property="v:description">
                                <p>Hola buenas, vivo en av. Pacífico en 4 esquinas en la serena y vivo hace 1 año acá y he gastado muchísimo dinero por un módem inalámbrico que no me ayuda para nada cuando lo necesito, me tengo que conectar como a las 1 de la mañana para que pueda andar mejor el internet, ya se hace necesario el internet fijo por estos lados y varias personas en el departamento en donde vivo nos pasa lo mismo, necesitamos el cableado de internet por que ya es de mucha necesidad </p>
                                <p>Ojalas nos den respuestas prontas y que sean buenas para nuestras necesidades, gracias de ante mano .!</p>
                            </span>
                            <div class="img-center"></div>
                            <div class="reclamo-meta-autor">Publicado por: IP 181.202.9.230 el Martes, Marzo 24, 2015 - 22:37. La persona que public&oacute; este contenido se ha identificado internamente con su nombre, rut y otros datos aportados voluntariamente. Para tomar contacto con el autor considere las alternativas que se presentan a la derecha del contenido. Las opiniones publicadas por los usuarios del foro no reflejan necesariamente la opini&oacute;n de los administradores de Reclamos.cl.</div>

                            <div class="node-single-end">
                                <ul>
                                    <li class="vote-holder">
                                        <span class="upvote">
                                            <a href="#">
                                                <span class="votes-up-num">0</span>
                                                <i class="fa fa-thumbs-o-up"></i>
                                            </a>
                                        </span>

                                        Helpful?

                                        <span class="downvote">
                                             <a href="#">
                                                 <span class="votes-down-num">0</span>
                                                <i class="fa fa-thumbs-o-down"></i>
                                            </a>
                                        </span>
                        
                                    </li>
                                    <li class="nm-holder">
                                        <a href="#">Had the same issue
                                            <span class="votes-count-num">0</span>
                                        </a>
                                    </li>

                                    <li class="nm-holder">
                                        <a href="#">Comments
                                            <span class="votes-count-num">0</span>
                                        </a>
                                    </li>
                                    <li class="report">
                                        <a href="#">Report
                                            <i class="fa fa-flag"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="reclamos-comments">

                        </div>
                    </div>
                </div>
                <!-- Close rdf div -->
            </div>
            <!-- -->
            <div id="sidebar-left"  class="col-md-4">

                <div id="ads-300-250" class="txt-c mbm">
                    <img src="http://1.bp.blogspot.com/-di0CNCwcQkA/U3NBY00DW3I/AAAAAAAAEDU/VX6tZ94GBbM/s1600/300x250.png" width="300" height="250">
                    <div style="clear: both;"></div>
                </div>

                <div class="complaint-box">
                    <div class="fb-page" data-href="https://www.facebook.com/dequrcom" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
                </div>

            </div>
            <!-- sidebar-left -->


        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
{% endblock %}