{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&appId=731623136870740&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrapgeneral">
    <div class="container">
        <div class="row">
            <div class="single_header txt-c col-md-12">
                <div class="top">
                    <h1 class="centered" itemprop="name">Mamut restaurant - Procedimiento engañoso</h1>
                    <div class="reviews">
                        <strong>1 de 205</strong> <a href="#">Mamut restaurant</a>
                    </div>
                </div>


                <div class="sub">
                    <ul>
                        <li>hace 7 minutos</li>
                        <li>por usuario</li>
                    </ul>

                    <ul class="big-li">
                        <li><a href="#"><i class="fa fa-map-marker"></i> Ryde, New South Wales</a></li>
                        <li><a href="#"><i class="fa fa-heartbeat"></i> Health and Beauty</a></li>
                    </ul>

                </div>
            </div>
        
            <div id="main" class="col-md-8">
               
                <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review">
                    
                    <div class="node full ">
                        <div class="node-content">
                            <span property="v:description">
                                <p>Hola buenas, vivo en av. Pacífico en 4 esquinas en la serena y vivo hace 1 año acá y he gastado muchísimo dinero por un módem inalámbrico que no me ayuda para nada cuando lo necesito, me tengo que conectar como a las 1 de la mañana para que pueda andar mejor el internet, ya se hace necesario el internet fijo por estos lados y varias personas en el departamento en donde vivo nos pasa lo mismo, necesitamos el cableado de internet por que ya es de mucha necesidad </p>
                                <p>Ojalas nos den respuestas prontas y que sean buenas para nuestras necesidades, gracias de ante mano .!</p>
                            </span>
                            <div class="img-center"></div>
                            <div class="reclamo-meta-autor">Los comentarios, quejas, denuncias, reclamos, y de más contenidos que realizan los usuarios del sitio son de entera responsabilidad de los mimos en ningun momento serán responsabilidad de Dequr.com o su servicio de alojamiento</div>

                            <div class="node-single-end">
                                <ul>
                                    <li class="vote-holder">
                                        <span class="upvote">
                                            <a href="#">
                                                <span class="votes-up-num">0</span>
                                                <i class="fa fa-thumbs-o-up"></i>
                                            </a>
                                        </span>

                                        ¿Ha sido de ayuda?

                                        <span class="downvote">
                                             <a href="#">
                                                 <span class="votes-down-num">0</span>
                                                <i class="fa fa-thumbs-o-down"></i>
                                            </a>
                                        </span>
                        
                                    </li>
                                    <li class="nm-holder">
                                        <a href="#">¿Te ha pasado lo mismo?
                                            <span class="votes-count-num">0</span>
                                        </a>
                                    </li>

                                    <li class="nm-holder">
                                        <a href="#">Comentarios
                                            <span class="votes-count-num">0</span>
                                        </a>
                                    </li>
                                    <li class="report">
                                        <a href="#">Reportar <br> un Abuso
                                            <i class="fa fa-flag"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="txt-c mbm">
                                <a href="#" class="btn btn-go btn-complaint ">
                                    <span class="txt">¿Problemas con Mamut restaurant? Publica tu queja aquí</span>
                                </a>
                            </div>
                        
                            
                            <div class="col-md-12">
                                <div class="txt-c mbm">
                                    <img src="http://1.bp.blogspot.com/-di0CNCwcQkA/U3NBY00DW3I/AAAAAAAAEDU/VX6tZ94GBbM/s1600/300x250.png" width="300" height="250">
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="reclamos-comments">

                        </div>
                    </div>
                </div>
                <!-- Close rdf div -->
            </div>
            <!-- -->
            <div id="sidebar-left"  class="col-md-4">

                <div id="ads-300-250" class="txt-c mbm">
                    <img src="http://1.bp.blogspot.com/-di0CNCwcQkA/U3NBY00DW3I/AAAAAAAAEDU/VX6tZ94GBbM/s1600/300x250.png" width="300" height="250">
                    <div style="clear: both;"></div>
                </div>

                <div class="complaint-box">
                    <div class="fb-page" data-href="https://www.facebook.com/dequrcom" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
                </div>

                <div class="complaint-box">
                    <div class="content">
                        <div class="resumen-container">
                        <h3>
                            <a href="#">Articulos recomendados</a>
                        </h3>
                        <ol class="list">
                            <li class="item-box">
                                <a href="#">
                                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                </a>
                            </li>

                            <li class="item-box">
                                <a href="#">
                                    <p class="content">Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </a>
                            </li>

                            <li class="item-box">
                                <a href="#">
                                    <p class="content">Fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
                                </a>
                            </li>

                            <li class="item-box">
                                <a href="#">
                                    <p class="content">Duis aute irure dolor in reprehenderit in volupta</p>
                                </a>
                            </li>
                            <li class="item-box">
                                <a href="#">
                                    <p class="content">Stemologica</p>
                                </a>
                            </li>
                        </ol>
                        </div>
                    </div>
                </div>

            </div>
            <!-- sidebar-left -->


        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
{% endblock %}