{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&appId=731623136870740&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrapgeneral">
    <div class="container">
        <div class="row">
            <div class="post_header col-md-12">
                <div class="row">
                    <div class="top col-md-8">
                        <h2 class="mtm mbn">Tu publicación está casi lista. </h2>
                        <p class="hint mtxs mbm">Regístrate para obtener los siguientes beneficios.</p>
                    </div>
                </div>
            </div>
        
            <div id="main" class="col-md-8">
                <div class="row">
                    <div class="form-page col-md-12">
                        <ul class="capabilities">
                            <li>
                                <i class="fa fa-check-square-o icon"></i>
                                <strong>Marcar tu queja como solucionada</strong>una vez estés satisfecho con la solución por parte de <span class="rint">Mamut restaurant</span>
                            </li>
                            <li>
                                <i class="fa fa-check-square-o icon"></i>
                                <strong>Actualizar tu queja</strong>Puedes hacer cuantas actualizaciones sean necesarias para solucionar tu problema e inclusive para mantener a tus lectores informados.
                            </li>
                            <li>
                                <i class="fa fa-check-square-o icon"></i>
                                <strong>Obtener notificaciones por email</strong>Acerca de nuevos comentarios de tu queja y respuestas por parte de las empresas.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9 mtm">
                        <div class="text-bar mvm text-bar-center">
                            <span class="text">o</span>
                        </div>

                        <div class="txt-c">
                            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-fb">
                                <span class="txt"><i class="fa fa-facebook mrxxs"></i>Ingresar con Facebook</span>
                            </a>

                            <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-tw">
                                <span class="txt"><i class="fa fa-twitter mrxxs"></i>Ingresar con Twitter</span>
                            </a>

                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-go">
                                <span class="txt"><i class="fa fa-google mrxxs"></i>Ingresar con Google</span>
                            </a>
                        </div>

                        <div class="text-bar mvm text-bar-center">
                            <span class="text">o</span>
                        </div>

                        <form method="post" class="login" id="register">
                            <div class="grouped-form">
                                <div class="control-group">
                                    <span class="input bg-brighter">
                                        <input type="text" name="name" autocorrect="off" autocapitalize="off" placeholder="Username">
                                    </span>
                                </div>

                                <div class="control-group">
                                    <span class="input bg-brighter">
                                        <input type="email" name="email" autocorrect="off" autocapitalize="off" placeholder="Correo electrónico">
                                    </span>
                                </div>

                                <div class="control-group">
                                    <span class="input bg-brighter">
                                        <input type="password" name="password" placeholder="Contraseña">
                                    </span>
                                </div>

                                <div class="control-group">
                                    <span class="input bg-brighter">
                                        <input type="password" name="password" placeholder="Confirmación">
                                    </span>
                                </div>
                            </div>

                            <div class="control-group mtm mbn">
                                <input value="Regístrate" type="submit" class="btn-full btn-Red btn btn-big">
                            </div>
                        </form>
                        <p class="mts txt-c type-smaller type-muted"> Sumándote o ingresando via Facebook, Twitter o Google+, aceptas los <a href="#">términos y condiciones</a> y las <a href="#">reglas de uso</a> de Dequr.com y aceptas recibir mensajes de correo electrónico ocasionalmente sobre campañas en Dequr.com.</p>
                    </div>
                </div>
            </div>
            <!-- main -->
            
            <div id="sidebar-left"  class="col-md-4">
                <div class="complaint-box">
                </div>
            </div>
            <!-- sidebar-left -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
{% endblock %}