{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&appId=731623136870740&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrapgeneral">
    <div class="container">
        <div class="row">
            <div class="post_header col-md-12">
                <div class="row">
                    <div class="top col-md-8">
                        
                        <h2 class="mtm mbn"><span class="rint">Mamut restaurant</span> requiere un poco mas de información para ponerse en contacto.</h2>
                        <p class="hint mtxs mbm">Esta información no será pública y no es obligatoria aunque es importante si quieres que la empresa se ponga en contacto.</p>

                    </div>
                </div>

            </div>
        
            <div id="main" class="col-md-8">
                <div class="form-page">
                    <ul>
                        <li>
                            <label>Nombre Completo</label>
                            <input type="text" placeholder="" />
                        </li>
                        <li>
                            <label>Email</label>
                            <input type="text" placeholder="" />
                        </li>
                        <li>
                            <label>Teléfono Móvil</label>
                            <input type="text" placeholder="" />
                        </li>
                        
                    </ul>
                </div>

                <div class="top col-md-12">
                    
                    <h2 class="mtm mbn">Que acción quieres que haga <span class="rint">Mamut restaurant</span></h2>
                    <p class="hint mtxs mbm">Esta información no será pública y no es obligatoria aunque es importante si quieres que la empresa se ponga en contacto.</p>

                </div>

                <div class="form-page col-md-12">
                    <ul>
                    <div class="frame">
                        <li class="txt-c">
                            <i class="fa fa-frown-o icon"></i>
                        </li>
                        <li>
                            <input value="pc_service" type="radio" name="">
                            <label>Que me proponga una solución</label>
                        </li>
                        <li>
                            <input value="pc_service" type="radio" name="">
                            <label>La devolución de mi Dinero</label>
                        </li>
                        <li>
                            <input value="pc_service" type="radio" name="">
                            <label>Que entregue mi producto</label>
                        </li>
                        <li>
                            <input value="pc_service" type="radio" name="">
                            <label>Otra solución</label>
                            <input type="text" placeholder="" />
                        </li>
                    </div>
                        <li>
                            <a href="#" class="btn btn-go btn-complaint">
                                <span class="txt">Enviar denuncia</span>
                            </a> <a class="mlm" href="#">Omitir</a>
                        </li>
                        
                    </ul>
                </div>


            </div>
            <!-- -->
            <div id="sidebar-left"  class="col-md-4">

                <div class="complaint-box">
                </div>


            </div>
            <!-- sidebar-left -->


        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
{% endblock %}