{% extends 'base.html' %}
{% load static from staticfiles %}


{% block content %}
<div class="container">
    
    <div class="row">
        <div class="box-sm bg-brighter paxxl col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <h3 class="txt-c mt-none mb-xlarge">Inicia sesión o regístrate</h3>
            <div class="components-login" data-view="components/login_or_join" data-sign_up="false" data-render="true">
                <div class="swap-view" data-view="components/swap-view" data-templatename="components/login_or_join/log_in" data-ispartial="true" data-render="true">

                <div class="txt-c">
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-inline btn-primary mb-small">
                        <span class="txt"><i class="fa fa-facebook mrxxs"></i>Ingresar con Facebook</span>
                    </a>

                    <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-inline btn-primary mb-small">
                        <span class="txt"><i class="fa fa-twitter mrxxs"></i>Ingresar con Twitter</span>
                    </a>

                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-inline btn-primary mb-small">
                        <span class="txt"><i class="fa fa-google mrxxs"></i>Ingresar con Google</span>
                    </a>
                </div>

                    <div class="text-bar mvm text-bar-center">
                        <span class="text">o</span>
                    </div>


                    <ul id="tabs" class="nav nav-tabs nav-justified mb-small">
                      <li class="active"><a href="#login">Login</a></li>
                      <li><a href="#register">Registro</a></li>
                    </ul>
                    <script>
                    $(document).ready(function() {
                        $("#register").hide();

                        $("a[href=\"#register\"]").click(function(event){
                            event.preventDefault();
                            $("a[href=\"#login\"]").parent(".active").removeClass("active");
                            $(this).parent("li").addClass("active");
                            $("#login").fadeOut(100);
                            $("#register").delay(100).fadeIn(100);
                        });

                        $("a[href=\"#login\"]").click(function(event){
                            event.preventDefault();
                            $("a[href=\"#register\"]").parent(".active").removeClass("active");
                            $(this).parent("li").addClass("active");
                            $("#register").fadeOut(100);
                            $("#login").delay(100).fadeIn(100);
                        });
                    });
                    </script>

                    <form method="post" class="login" id="login">{% csrf_token %}
                        {{login_form.form}}
                        <div class="grouped-form">
                            <div class="control-group">
                                <div class="control">
                                    <span class="input bg-brighter">
                                        {{login_form.username}}
                                        <span class="has-error">{{login_form.username.errors.as_text}}</span>
                                    </span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="control">
                                    <span class="input bg-brighter">
                                        {{login_form.password}}
                                        <span class="has-error">{{login_form.password.errors.as_text}}</span>
                                    </span>
                                </div>
                            </div>
                            {% if login_error %}
                                <span class="has-error">{{login_error}}</span>
                            {% endif %}
                        </div>

                        <div class="mt-small type-small txt-r">
                            <a href="#">¿Olvidaste tu contraseña?</a>
                        </div>

                        <div class="control-group mt-large mb-none">
                            <div class="control">
                                <input value="Iniciar sesión" type="submit" class="btn btn-inline btn-inverse">
                                <div class="mt-large type-small txt-c">
                                    <span>¿No tienes una cuenta?&nbsp;</span><a href="#register">Regístrate</a>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form method="post" class="login" id="register">{% csrf_token %}
                        {{register_form.form}}
                        <div class="grouped-form">
                            <div class="control-group">
                                <div class="control">
                                    <span class="input bg-brighter">
                                        {{register_form.username}}
                                        <span class="has-error">{{register_form.username.errors.as_text}}</span>
                                    </span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="control">
                                    <span class="input bg-brighter">
                                        {{register_form.email}}
                                        <span class="has-error">{{register_form.email.errors.as_text}}</span>
                                    </span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="control">
                                    <span class="input bg-brighter">
                                        {{register_form.password1}}
                                        <span class="has-error">{{register_form.password1.errors.as_text}}</span>
                                    </span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="control">
                                    <span class="input bg-brighter">
                                        {{register_form.password2}}
                                        <span class="has-error">{{register_form.password2.errors.as_text}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="control-group mt-large mb-none">
                            <div class="control">
                                <input value="Regístrate" type="submit" class="btn btn-inline btn-inverse">
                                <div class="mt-large type-small txt-c">
                                    <span>¿Ya tienes una cuenta? </span><a href="#login">Iniciar sesión</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <p class="mt-large txt-c type-smaller type-muted">
                Sumándote o ingresando via Facebook, Twitter o Google+, aceptas los <a href="#">términos y condiciones</a> y las <a href="#">reglas de uso</a> de Dequr.com y aceptas recibir mensajes de correo electrónico ocasionalmente sobre campañas en Dequr.com.
            </div>
        </div>
        <hr class="visible-xs mt-none mb-xlarge">
    </div>
</div>
{% endblock %}