{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&appId=731623136870740&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrapgeneral">
    <div class="container">
        <div class="row">
            <div class="single_header txt-c col-md-12">
                <div class="top">
                    <h1>edward.mspc</h1>
                    <ul class="list mts">
                        <li><a class="active" href="#">Mis Quejas</a></li>
                        <li><a href="#">Mis Comentarios</a></li>
                        <li><a href="#">Mi Cuenta</a></li>
                    </ul>
                </div>


            
            </div>
        
            <div id="main" class="col-md-8">
                <div class="node teaser">
                    <div class="row">
                        <div class="context col-xs-11 col-md-11">
                            <i class="fa fa-circle-o-notch"></i> <a href="#" title="">admin</a> Ha realizado una publicacion 
                        </div>

                        <div class="col-xs-1 col-md-1">
                            <a href="#" title="vtr - sin señal."><img src="{% static 'assets/img/sin-foto-01.jpg' %}" class="sinfoto" alt="" width="48" height="48" /></a>
                        </div>
                        <div class="col-xs-11 col-md-11">
                            <p class="reclamo-teaser-title">
                            <a href="#" title="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim[...]</a></p>
                        </div>

                        <div class="context-end col-xs-11 col-md-11">
                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Comentarios"><i class="fa fa-comment-o"></i> 54</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="0:29 - 16 de mar. de 2015"><i class="fa fa-clock-o"></i> 16 de mar.</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Numero de veces visitado"><i class="fa fa-eye"></i> 1589</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Empresa comprometida"><i class="fa fa-building-o"></i> Telcel</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Categoria"><i class="fa fa-folder-open"></i>Telecomunicaiones</a>
                            </span>

                        </div>
                    </div>
                </div>
               
                <div class="node teaser">
                    <div class="row">
                        <div class="context col-xs-11 col-md-11">
                            <i class="fa fa-circle-o-notch"></i> <a href="#" title="">admin</a> Ha realizado una publicacion 
                        </div>

                        <div class="col-xs-1 col-md-1">
                            <a href="#" title="vtr - sin señal."><img src="{% static 'assets/img/sin-foto-01.jpg' %}" class="sinfoto" alt="" width="48" height="48" /></a>
                        </div>
                        <div class="col-xs-11 col-md-11">
                            <p class="reclamo-teaser-title">
                            <a href="#" title="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim[...]</a></p>
                        </div>

                        <div class="context-end col-xs-11 col-md-11">
                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Comentarios"><i class="fa fa-comment-o"></i> 54</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="0:29 - 16 de mar. de 2015"><i class="fa fa-clock-o"></i> 16 de mar.</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Numero de veces visitado"><i class="fa fa-eye"></i> 1589</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Empresa comprometida"><i class="fa fa-building-o"></i> Telcel</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Categoria"><i class="fa fa-folder-open"></i>Telecomunicaiones</a>
                            </span>

                        </div>
                    </div>
                </div>
               
                <div class="node teaser">
                    <div class="row">
                        <div class="context col-xs-11 col-md-11">
                            <i class="fa fa-circle-o-notch"></i> <a href="#" title="">admin</a> Ha realizado una publicacion 
                        </div>

                        <div class="col-xs-1 col-md-1">
                            <a href="#" title="vtr - sin señal."><img src="{% static 'assets/img/sin-foto-01.jpg' %}" class="sinfoto" alt="" width="48" height="48" /></a>
                        </div>
                        <div class="col-xs-11 col-md-11">
                            <p class="reclamo-teaser-title">
                            <a href="#" title="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim[...]</a></p>
                        </div>

                        <div class="context-end col-xs-11 col-md-11">
                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Comentarios"><i class="fa fa-comment-o"></i> 54</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="0:29 - 16 de mar. de 2015"><i class="fa fa-clock-o"></i> 16 de mar.</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Numero de veces visitado"><i class="fa fa-eye"></i> 1589</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Empresa comprometida"><i class="fa fa-building-o"></i> Telcel</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Categoria"><i class="fa fa-folder-open"></i>Telecomunicaiones</a>
                            </span>

                        </div>
                    </div>
                </div>
               
                <div class="node teaser">
                    <div class="row">
                        <div class="context col-xs-11 col-md-11">
                            <i class="fa fa-circle-o-notch"></i> <a href="#" title="">admin</a> Ha realizado una publicacion 
                        </div>

                        <div class="col-xs-1 col-md-1">
                            <a href="#" title="vtr - sin señal."><img src="{% static 'assets/img/sin-foto-01.jpg' %}" class="sinfoto" alt="" width="48" height="48" /></a>
                        </div>
                        <div class="col-xs-11 col-md-11">
                            <p class="reclamo-teaser-title">
                            <a href="#" title="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim[...]</a></p>
                        </div>

                        <div class="context-end col-xs-11 col-md-11">
                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Comentarios"><i class="fa fa-comment-o"></i> 54</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="0:29 - 16 de mar. de 2015"><i class="fa fa-clock-o"></i> 16 de mar.</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Numero de veces visitado"><i class="fa fa-eye"></i> 1589</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Empresa comprometida"><i class="fa fa-building-o"></i> Telcel</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Categoria"><i class="fa fa-folder-open"></i>Telecomunicaiones</a>
                            </span>

                        </div>
                    </div>
                </div>
               
                <div class="node teaser">
                    <div class="row">
                        <div class="context col-xs-11 col-md-11">
                            <i class="fa fa-circle-o-notch"></i> <a href="#" title="">admin</a> Ha realizado una publicacion 
                        </div>

                        <div class="col-xs-1 col-md-1">
                            <a href="#" title="vtr - sin señal."><img src="{% static 'assets/img/sin-foto-01.jpg' %}" class="sinfoto" alt="" width="48" height="48" /></a>
                        </div>
                        <div class="col-xs-11 col-md-11">
                            <p class="reclamo-teaser-title">
                            <a href="#" title="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim[...]</a></p>
                        </div>

                        <div class="context-end col-xs-11 col-md-11">
                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Comentarios"><i class="fa fa-comment-o"></i> 54</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="0:29 - 16 de mar. de 2015"><i class="fa fa-clock-o"></i> 16 de mar.</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Numero de veces visitado"><i class="fa fa-eye"></i> 1589</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Empresa comprometida"><i class="fa fa-building-o"></i> Telcel</a>
                            </span>

                            <span class="mrsp">
                                <a href="#"  data-toggle="tooltip" data-placement="top" title="Categoria"><i class="fa fa-folder-open"></i>Telecomunicaiones</a>
                            </span>

                        </div>
                    </div>
                </div>
                <!-- Close rdf div -->
            </div>
            <!-- -->
            <div id="sidebar-left"  class="col-md-4">

                <div id="ads-300-250" class="txt-c mbm">
                    <img src="http://1.bp.blogspot.com/-di0CNCwcQkA/U3NBY00DW3I/AAAAAAAAEDU/VX6tZ94GBbM/s1600/300x250.png" width="300" height="250">
                    <div style="clear: both;"></div>
                </div>

                <div class="complaint-box">
                    <div class="fb-page" data-href="https://www.facebook.com/dequrcom" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
                </div>

            </div>
            <!-- sidebar-left -->


        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
{% endblock %}